body {
	h1, p {
		margin: 0;
	}		

	h1 {
		border: 1px solid #507E32;
		font-size: 1.8em;
		font-weight: bold;
		padding: 15px
	}
	

	main {
		background-color: #E2F0D9;
	}

	footer {
		border-top: 1px solid #507E32;

		p {
			font-size: 0.9em;
			padding: 10px;
		}
	}

	h1, footer {
		background-color: #A9D18E;
		text-shadow: 2px 2px #CAE2BA;
	}

	.imageSize {
		max-width: 150px;
		max-height: 150px;
	}

	.partContainer {
		border: 1px solid #507E32;
		background-color: #A9D18E;
		box-shadow: 0 0 5px #BFCAB7;
		padding: 15px 25px;
		margin-top: 20px;

		p {
			font-size: 1.6em;
			text-align: center;
		}

		a {
			display: block;
			font-size: 1.4em;
			width: 80%;
			margin: 10px auto;
		}

		ul {
			list-style: none;
		}
	}
}