body {
	h1, p {
		margin: 0;
	}

	header {
		border: 1px solid #507E32;

		h1 {
			font-size: 1.8em;
			font-weight: bold;
			padding: 15px
		}
	}

	main {
		background-color: #E2F0D9;
	}

	footer {
		border-top: 1px solid #507E32;

		p {
			font-size: 0.9em;
			padding: 10px;
		}
	}

	header, footer {
		background-color: #A9D18E;
		text-shadow: 2px 2px #CAE2BA;
	}
}