body h1,
body p {
  margin: 0;
}
body h1 {
  border: 1px solid #507E32;
  font-size: 1.8em;
  font-weight: bold;
  padding: 15px;
}
body main {
  background-color: #E2F0D9;
}
body footer {
  border-top: 1px solid #507E32;
}
body footer p {
  font-size: 0.9em;
  padding: 10px;
}
body h1,
body footer {
  background-color: #A9D18E;
  text-shadow: 2px 2px #CAE2BA;
}
body .imageSize {
  max-width: 100%;
  padding: 20px;
}
body .partContainer,
body .formShape {
  border: 1px solid #507E32;
  background-color: #A9D18E;
  box-shadow: 0 0 5px #507E32;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body .asideForm p {
  text-align: center;
}
body .asideForm a {
  display: block;
  border: 1px solid #61973D;
  border-radius: 5px;
  background-color: #70AD47;
  color: #FFF;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 1px #61973d;
  width: 80%;
  padding: 10px 15px;
  margin: 10px auto;
}
body .asideForm a:hover {
  text-decoration: none;
}
body .asideContainer p {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
body .asideContainer hr {
  border: none;
  background-color: #507E32;
  height: 1px;
  box-shadow: 0 0 4px #507E32;
  margin: 10px;
}
body .asideContainer ul {
  list-style: none;
}
body .asideContainer ul li {
  border: 1px solid #A9D18E;
  margin: 0 10px;
}
body .asideContainer ul li:hover {
  background-color: #C5E0B4;
}
body .asideContainer ul li a {
  color: #2C3E50;
  text-decoration: none;
  width: 100%;
}
body .asideContainer ul li a,
body .asideContainer ul li span {
  display: block;
  padding: 5px;
  width: 100%;
}
body .asideContainer ul .active-selection {
  border: 1px solid #7F6000;
  background-color: #DAA600;
}
body .mainCenterContainer ul li h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 10px;
}
body .mainCenterContainer ul li h2 span {
  font-size: 0.7em;
}
body .mainCenterContainer ul li p {
  text-align: justify;
  padding: 10px;
  margin-bottom: 10px;
}
body .mainCenterContainer ul,
body .asideContainer ul {
  list-style: none;
  padding-left: 0;
}
body .dotDashContainer {
  border: 1px dashed #649B3F;
  background-color: #C5E0B4;
  margin-bottom: 10px;
}
body .lineText {
  border: 1px dashed #A9D18E;
  margin-bottom: 10px;
}
body .formShape {
  border-radius: 10px;
}
body .formShape h2 {
  font-weight: bold;
  text-align: center;
}
body .formShape hr {
  border: none;
  background-color: #507E32;
  height: 1px;
  box-shadow: 0 0 4px #507E32;
  margin: 10px;
}
body .formShape label,
body .formShape input {
  display: block;
}
body .formShape button {
  border: 1px solid #61973D;
  border-radius: 5px;
  background-color: #70AD47;
  color: #FFF;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 1px #61973d;
  width: 80%;
  padding: 10px 15px;
  margin: 10px auto;
}
body .formShape button:hover {
  text-decoration: none;
}
body .loginForm,
body .registerForm {
  font-size: 1.2em;
  padding: 10px 25px;
  margin-top: 50px;
  margin-bottom: 150px;
}
body .loginForm label,
body .registerForm label {
  margin: 20px;
}
body .loginForm input,
body .registerForm input {
  width: 90%;
  padding: 5px 10px;
  margin: 0 auto 20px;
}
body .loginForm button,
body .registerForm button {
  width: 30%;
  margin-left: 20px;
}
body .loginForm a,
body .registerForm a {
  color: #2E75B6;
  position: relative;
  top: 20px;
  right: 20px;
}
body .registerForm select {
  width: 90%;
  margin-right: 20px;
}
body .registerForm select option {
  padding: 5px 10px;
}
