<div ng-controller="ShowAdsController">	
	<app-header></app-header>
	
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<left-public-sidebar ng-if="authServices.isAnonymous()"></left-public-sidebar>
				<left-user-sidebar ng-if="authServices.isLoggedIn()"></left-user-sidebar>
			</div>
			
			<div class="col-md-8 mainCenterContainer">
				<show-ads></show-ads>
			</div>
			
			<div class="col-md-2">
				<categories></categories>
				<towns></towns>
			</div>
		</div>
	</div>
</div>