<div ng-controller="ListAds">	
	<h1 class="text-center">Ads - {{headerTitle}}</h1>
	
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<left-public-sidebar></left-public-sidebar>
			</div>
			
			<div class="col-md-8 mainCenterContainer">
				<img class="center" src="img/loading.gif" alt="loading.gif" ng-hide="adsLoaded">
				
				<ul ng-show="data">
					<li ng-repeat="ad in data.ads" class="partContainer">
						<h2>
							{{ad.title}}
							<span class="pull-right">{{ad.date | date:'d-MM-yyyy'}}</span>
						</h2>

						<div class="row">
							<div class="col-md-5">
								<img src="" ng-src="{{ad.imageDataUrl}}" class="imageSize dotDashContainer">
							</div>
							<div class="col-md-7">
								<p class="dotDashContainer">{{ad.text}}</p>

								<div class="row">
									<div class="col-md-3">
										<p class="pull-right">Name</p>
										<p class="pull-right">Email</p>
										<p class="pull-right">Tel.</p>
									</div>
									<div class="col-md-9">
										<p class="dotDashContainer">{{ad.ownerName}}</p>
										<p class="dotDashContainer">{{ad.ownerEmail}}</p>
										<p class="dotDashContainer">{{ad.ownerPhone}}</p>
									</div>
								</div>
							</div>
						</div>				
					</li>
				</ul>
			</div>
			
			<div class="col-md-2">
				<categories></categories>
				<towns></towns>
			</div>
		</div>
	</div>
</div>