<div ng-controller="LoginController as ctrl" >	
	<h1 class="text-center">Ads - {{ctrl.headerTitle}}</h1>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="partContainer mainLeftContainer">
					<p>To publish a new ad, please login.</p>
					<a href="#/login" class="btn btn-success">Login</a>
					<a href="#/register" class="btn btn-success">Register</a>
				</div>
			</div>
			
			<div class="col-md-9 mainCenterContainer">
				<div ng-hide="allAds.data" class="alert alert-dismissable alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
				</div>
				
				<form ng-submit="ctrl.submit()">
					<label for="userName">Username:</label>
					<input ng-model="ctrl.user.username" id="userName" type="text" />
					<label for="userPasswod">Password:</label>
					<input ng-model="ctrl.user.password" id="userPasswod" type="password" />
					<button type="submit">Login</button>
					<a href="#/register">Register here</a>
				</form>
			</div>
		</div>
	</div>
</div>