<div ng-controller="RegisterController as ctrl" >	
	<h1 class="text-center">Ads - {{ctrl.headerTitle}}</h1>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<left-public-sidebar></left-public-sidebar>
			</div>
			
			<div class="col-md-10 mainCenterContainer">				
				<form ng-submit="ctrl.submit()">
					<label for="userName">Username:</label>
					<input ng-model="ctrl.user.username" id="userName" type="text" />
					<label for="passwod">Password:</label>
					<input ng-model="ctrl.user.password" id="passwod" type="password" />
					<label for="confirmPassword">Confirm password:</label>
					<input ng-model="ctrl.user.confirmPassword" id="confirmPassword" type="password" />
					<label for="name">Name:</label>
					<input ng-model="ctrl.user.name" id="name" type="text" />
					<label for="email">Email:</label>
					<input ng-model="ctrl.user.email" id="email" type="text" />
					<label for="phone">Phone:</label>
					<input ng-model="ctrl.user.phone" id="phone" type="text" />
					<label for="select"></label>
					<select id="select" ng-model="ctrl.user.townId" ng-options="town.id as town.name for town in ctrl.towns">
						<option value="">-- Please select --</option>
					</select>

					<button type="submit">Register</button>
					<a href="#/login">Login here</a>
				</form>
			</div>
		</div>
	</div>
</div>